.ms-bg {
    background: url("/assets/MostlySecurity-WideFree.png") no-repeat left center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #232323;
}

.ms-body {
    font-weight: 400;
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    color: #fff;
}

.ms-body-home {
    font-size: x-large;
}

.ms-body-episodes {
    font-size: large;
}

.main-container {
    margin-top: 20pt;
}

.home-strong {
    font-family: "Avenir Next Condensed Bold", "Avenir Next", "Avenir", Helvetica, Arial, sans-serif;
    font-size: larger;
    letter-spacing: -3px;
    text-shadow: 1px 1px 0px #232323;
}

.ms-body-episodes .episode-date {
    font-size: 0.9em;
    color: #ddd;
}

.ms-body-episodes .episode-description {
    color: #232323;
}

.ms-body-episodes .episode-description p {
    margin-bottom: 1rem;
}

.ms-body-episodes .episode-description audio {
    width: 100%;
    margin-top: 1rem;
}

.ms-body-episodes .episode-length {
    font-size: 0.8em;
    margin-bottom: 1rem;
}

.ms-body-episodes .podcast-image {
    float: left;
    margin-right: 20px;
    border-radius: 10px;
    width: 128px;
    height: 128px;
}

.ms-body-episodes .podcast-info-container {
    overflow: auto;
    padding: 10px;
}

.ms-body-episodes ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 0.8em;
}

.ms-body-episodes audio {
    display: block;
    width: 100%;
    margin: 1em auto;
    height: 54px;
}

.ms-body-episodes #loader {
    padding: 20px;
    text-align: center;
    display: block;
}

.ms-body-episodes #loader.is-idle {
    padding: 1px;
    opacity: 0;
}

.ms-body-episodes #message-box {
    padding: 20px;
    text-align: center;
    color: #ffcdd2;
}

.back-link {
    color: #fff;
}

.back-to-top {
    position: sticky;
    bottom: 20px;
    float: right;
    display: inline-block;
    margin: 10px 10px 0 0;
    padding: 6px 10px;
    background-color: rgba(35, 35, 35, 0.85);
    border: 1px solid #ffffff;
    border-radius: 8px;
    opacity: 0;
    pointer-events: none;
}

.back-to-top.is-visible {
    opacity: 1;
    pointer-events: auto;
}

.header {
    margin-top: 10pt;
}

.project {
    margin-left: 18pt;
    margin-right: 18pt;
    display: none;
    background-color: #232323;
    border-radius: 10px;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.disclaimer {
    font-size: small;
    color: #FFFFFF;
}

.about {
    color: #232323;
    font-size: smaller;
    line-height: 1.2;
}

strong.title {
    font-size: larger;
    letter-spacing: 0px;
    text-shadow: 1px 1px 0px #232323;
    text-transform: uppercase;
}


strong.episode {
    font-size: larger;
    letter-spacing: 0px;
    text-shadow: 1px 1px 0px #232323;
}

a {
    color: #232323;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: #ffffff;
}


.purple a {
    color: #232323;
}

.purple a:hover {
    color: #663399;
}

.green a {
    color: #232323;
}

.green a:hover {
    color: #006633;
}

.orange a {
    color: #232323;
}

.orange a:hover {
    color: #FF9900;
}

.red a {
    color: #232323; 
}

.red a:hover {
    color: #990000; 
}

.bgbox {
    border: 1px #ffffff solid;
}

.bgshade {
    padding: 10pt 10pt 10pt 20pt; 
    margin: 10pt;
    background-color: #AAAAAA;
    /* box-shadow: 0px 0px 1px 0px #232323; */
    box-shadow: 3px 3px 12px 1px #232323;
}

.bgshade.purple {
    border: 3pt #663399 solid;
    /* background: linear-gradient(135deg, #888888 0%, #888888 95%, #663399 95%, #663399 100%) */
    background: linear-gradient(135deg, #663399 0%, #663399 5%, #AAAAAA 5%, #AAAAAA 100%);
}

.bgshade.green {
    border: 3pt #339966 solid;
    background: linear-gradient(135deg, #339966 0%, #339966 5%, #AAAAAA 5%, #AAAAAA 100%);
}

.bgshade.orange {
    border: 3pt #FF9900 solid;
    background: linear-gradient(135deg, #FF9900 0%, #FF9900 5%, #AAAAAA 5%, #AAAAAA 100%);
}

.bgshade.red {
    border: 3pt #CC3333 solid;
    background: linear-gradient(135deg, #CC3333 0%, #CC3333 5%, #AAAAAA 5%, #AAAAAA 100%);
}

.bgshade.black {
    border: 3pt #232323 solid;
    background: linear-gradient(135deg, #232323 0%, #232323 5%, #888888 5%, #888888 100%);
}

/*
.bgshade.purple {
    background: linear-gradient(45deg, #888888 0%, #888888 88%, #663399 88%, #663399 100%);
}

.bgshade.green {
    background: linear-gradient(45deg, #888888 0%, #888888 88%, #339966 88%, #339966 100%);
}

.bgshade.orange {
    background: linear-gradient(45deg, #888888 0%, #888888 88%, #FF9900 88%, #FF9900 100%);
}

.bgshade.red {
    background: linear-gradient(45deg, #888888 0%, #888888 88%, #CC3333 88%, #CC3333 100%);
}
*/
