.header {
    margin-top: 10pt;
}

.project {
    margin-left: 18pt;
    margin-right: 18pt;
    display: none;
    background-color: #232323;
    border-radius: 10px;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.disclaimer {
    font-size: small;
    color: #FFFFFF;
}

strong {
    font-size: larger;
    letter-spacing: -3px;
    text-shadow: 1px 1px 0px #232323;
}


a {
    color: #232323;
    text-decoration: none;
}

a:hover {
    color: #ffffff;
}


.purple a {
    color: #232323;
}

.purple a:hover {
    color: #663399;
}

.green a {
    color: #232323;
}

.green a:hover {
    color: #FFFFFF;
}

.orange a {
    color: #232323;
}

.orange a:hover {
    color: #FF9900;
}

.red a {
    color: #232323; 
}

.red a:hover {
    color: #FFFFFF; 
}



.bgshade {
    padding: 10pt 10pt 10pt 20pt; 
    margin-bottom: 10pt;
    background-color: #888888;
}

.bgshade.purple {
    border: 3pt #663399 solid;
    background: linear-gradient(135deg, #663399 0%, #663399 5%, #888888 5%, #888888 100%);
}

.bgshade.green {
    border: 3pt #339966 solid;
    background: linear-gradient(135deg, #339966 0%, #339966 5%, #888888 5%, #888888 100%);
}

.bgshade.orange {
    border: 3pt #FF9900 solid;
    background: linear-gradient(135deg, #FF9900 0%, #FF9900 5%, #888888 5%, #888888 100%);
}

.bgshade.red {
    border: 3pt #FF3333 solid;
    background: linear-gradient(135deg, #FF3333 0%, #FF3333 5%, #888888 5%, #888888 100%);
}


/*
.bgshade.purple {
    background: linear-gradient(45deg, #888888 0%, #888888 88%, #663399 88%, #663399 100%);
}

.bgshade.green {
    background: linear-gradient(45deg, #888888 0%, #888888 88%, #339966 88%, #339966 100%);
}

.bgshade.orange {
    background: linear-gradient(45deg, #888888 0%, #888888 88%, #FF9900 88%, #FF9900 100%);
}

.bgshade.red {
    background: linear-gradient(45deg, #888888 0%, #888888 88%, #FF3333 88%, #FF3333 100%);
}
*/
